<md-card>
    <md-card-header>
        <md-card-title>Toolbar Colors</md-card-title>
    </md-card-header>
    <md-card-content>
        <div class="example-container">
            <md-toolbar
                color="primary">
                <span>Primary Toolbar</span>
            </md-toolbar>
            <md-toolbar
                color="accent">
                <span>Accent Line</span>
            </md-toolbar>
            <md-toolbar
                color="warn">
                <span>Warn Toolbar</span>
            </md-toolbar>
            <md-toolbar>
                <span>Default Toolbar</span>
            </md-toolbar>
        </div>
    </md-card-content>
</md-card>
<md-card>
    <md-card-header>
        <md-card-title>
            <code class="snippet">md-toolbar-row</code>
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <div class="example-container">
            <md-toolbar color="primary">
                <span>Multi Row Toolbar</span>
                <md-toolbar-row>
                    <span>Second Row</span>
                    <span class="example-spacer"></span>
                    <md-icon class="example-icon">verified_user</md-icon>
                </md-toolbar-row>
                <md-toolbar-row>
                    <span>Third Row</span>
                    <span class="example-spacer"></span>
                    <md-icon class="example-icon">favorite</md-icon>
                    <md-icon class="example-icon">delete</md-icon>
                </md-toolbar-row>
                </md-toolbar>
        </div>
    </md-card-content>
</md-card>