<div [ngClass]="materialTheme.id" class="app-frame">
    <md-toolbar color="primary" class="fixed-toolbar">
        <button md-button (click)="sidenav.open()"><md-icon>menu</md-icon> Menu</button>
        <span class="toolbar-header">ASP.NET Core Angular Material</span>
        <span class="example-spacer"></span>
        <button md-button *ngFor="let theme of themes" (click)="setTheme(theme)">{{theme.display}}</button>
        <a md-button href="https://github.com/ssdooley/MaterialASPnetStarter" target="_blank">GitHub</a>
    </md-toolbar>
    <md-sidenav-container class="mat-typography">
        <md-sidenav #sidenav>
            <md-nav-list>
                <h3 md-subheader>Getting Started</h3>
                <a md-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">Home</a>
                <a md-menu-item overlapTrigger="false" [mdMenuTriggerFor]="menuControl">Controls<md-icon>keyboard_arrow_down</md-icon></a>
                <md-menu #menuControl="mdMenu" [overlapTrigger]="false">
                    <a md-menu-item routerLink="/auto-complete" routerLinkActive="active" (click)="sidenav.close()">Autocomplete</a>
                    <a md-menu-item routerLink="/checkbox-card" routerLinkActive="active" (click)="sidenav.close()">Checkbox</a>
                    <a md-menu-item routerLink="/date-picker" routerLinkActivate="active" (click)="sidenav.close()">DatePicker</a>
                    <a md-menu-item routerLink="/input-form" routerLinkActivate="active" (click)="sidenav.close()">Input Form</a>
                    <a md-menu-item routerLink="/radio-dial" routerLinkActivate="active" (click)="sidenav.close()">Radio</a>
                    <a md-menu-item routerLink="/slider-control" routerLinkActivate="active" (click)="sidenav.close()">Slider</a>
                    <a md-menu-item routerLink="/slider-toggle" routerLinkActivate="active" (click)="sidenav.close()">Slider Toggle</a>
                </md-menu>
                <a md-menu-item overlapTrigger="false" [mdMenuTriggerFor]="menuNav">Navigation<md-icon>keyboard_arrow_down</md-icon></a>
                <md-menu #menuNav="mdMenu" [overlapTrigger]="false">
                    <a md-menu-item routerLink="/menu-item" routerLinkActivate="active" (click)="sidenav.close()">Menu</a>
                    <a md-menu-item routerLink="/sidenav-item" routerLinkActivate="active" (click)="sidenav.close()">Sidenav</a>
                    <a md-menu-item routerLink="/toolbar-item" routerLinkActivate="active" (click)="sidenav.close()">Toolbar</a>
                </md-menu>
                <a md-menu-item overlapTrigger="false" [mdMenuTriggerFor]="menuLayout">Layout<md-icon>keyboard_arrow_down</md-icon></a>
                <md-menu #menuLayout="mdMenu" [overlapTrigger]="false">
                    <a md-menu-item routerLink="/list-item" routerLinkActivate="active" (click)="sidenav.close()">List</a>
                    <a md-menu-item routerLink="/grid-list" routerLinkActivate="active" (click)="sidenav.close()">Grid List</a>
                    <a md-menu-item routerLink="/card-item" routerLinkActivate="active" (click)="sidenav.close()">Card</a>
                    <a md-menu-item routerLink="/tab-item" routerLinkActivate="active" (click)="sidenav.close()">Tabs</a>
                </md-menu>
                <a md-menu-item overlapTrigger="false" [mdMenuTriggerFor]="menuButton">Button<md-icon>keyboard_arrow_down</md-icon></a>
                <md-menu #menuButton="mdMenu" [overlapTrigger]="false">
                    <a md-menu-item routerLink="/button-item" routerLinkActivate="active" (click)="sidenav.close()">Button</a>
                    <a md-menu-item routerLink="/button-toggle" routerLinkActivate="active" (click)="sidenav.close()">Button Toggle</a>
                    <a md-menu-item routerLink="/chip-item" routerLinkActivate="active" (click)="sidenav.close()">Chip</a>
                    <a md-menu-item routerLink="/icon-item" routerLinkActivate="active" (click)="sidenav.close()">Icon</a>
                    <a md-menu-item routerLink="/progress-bar" routerLinkActivate="active" (click)="sidenav.close()">Progress Bar</a>
                    <a md-menu-item routerLink="/progress-spinner" routerLinkActivate="active" (click)="sidenav.close()">Progress Spinner</a>
                </md-menu>
                <a md-menu-item overlapTrigger="false" [mdMenuTriggerFor]="menuPopup">Popups<md-icon>keyboard_arrow_down</md-icon></a>
                <md-menu #menuPopup="mdMenu" [overlapTrigger]="false">
                    <a md-menu-item routerLink="/dialog-item" routerLinkActivate="active" (click)="sidenav.close()">Dialog</a>
                    <a md-menu-item routerLink="/tooltip-item" routerLinkActivate="active" (click)="sidenav.close()">Tooltip</a>
                    <a md-menu-item routerLink="/snackbar-item" routerLinkActivate="active" (click)="sidenav.close()">Snackbar</a>
                </md-menu>
                <a md-menu-item [mdMenuTriggerFor]="menu">Tables <md-icon>keyboard_arrow_down</md-icon></a>
                <md-menu #menu="mdMenu" [overlapTrigger]="false">
                    <a md-menu-item routerLink="/all-tables" routerLinkActive="active" (click)="sidenav.close()">All Tables</a>
                    <a md-menu-item routerLink="/table-basic" routerLinkActive="active" (click)="sidenav.close()">Basic Table</a>
                    <a md-menu-item routerLink="/table-filter" routerLinkActive="active" (click)="sidenav.close()">Filter Table</a>
                    <a md-menu-item routerLink="/table-sort" routerLinkActive="active" (click)="sidenav.close()">Sort Table</a>
                    <a md-menu-item routerLink="/table-paginator" routerLinkActive="active" (click)="sidenav.close()">Paginated Table</a>
                    <a md-menu-item routerLink="/table-complete" routerLinkActivate="active" (click)="sidenav.close()">Complete Table</a>
                </md-menu>
            </md-nav-list>
        </md-sidenav>
        <div class="app-body">
            <router-outlet (activate)="onActivate($event)"></router-outlet>
        </div>
    </md-sidenav-container>
</div>