<div class="example-container">
    <h3>Normal Buttons</h3>
    <div class="example-button-row">
        <button md-button>Flat Button</button>
        <button md-button color="primary">Primary Flat Button</button>
        <button md-button color="accent">Accent Flat Button</button>
        <button md-button color="warn">Warn Flat Button</button>
    </div>
    <div class="example-button-row">
        <button md-raised-button>Flat Button</button>
        <button md-raised-button color="primary">Primary Raised Button</button>
        <button md-raised-button color="accent">Accent Raised Button</button>
        <button md-raised-button color="warn">Warn Raised Button</button>
    </div>
    <div class="example-button-row">
        <button md-fab color=""><md-icon>add</md-icon></button>
        <button md-fab color="primary"><md-icon>add</md-icon></button>
        <button md-fab color="accent"><md-icon>add</md-icon></button>
        <button md-fab color="warn"><md-icon>add</md-icon></button>
    </div>
    <div class="example-button-row">
        <button md-mini-fab color=""><md-icon>add</md-icon></button>
        <button md-mini-fab color="primary"><md-icon>add</md-icon></button>
        <button md-mini-fab color="accent"><md-icon>add</md-icon></button>
        <button md-mini-fab color="warn"><md-icon>add</md-icon></button>
    </div>
    <h3>Link Buttons</h3>
    <div class="example-button-row">
        <a md-button>Flat Button</a>
        <a md-button color="primary">Primary Flat Button</a>
        <a md-button color="accent">Accent Flat Button</a>
        <a md-button color="warn">Warm Flat Button</a>
    </div>
    <div class="example-button-row">
        <a md-raised-button>Raised Button</a>
        <a md-raised-button color="primary">Primary Raised Button</a>
        <a md-raised-button color="accent">Accent Raised Button</a>
        <a md-raised-button color="warn">Warn Raised Button</a>
    </div>
    <div class="example-button-row">
        <a md-fab color=""><md-icon>add</md-icon></a>
        <a md-fab color="primary"><md-icon>add</md-icon></a>
        <a md-fab color="accent"><md-icon>add</md-icon></a>
        <a md-fab color="warn"><md-icon>add</md-icon></a>
    </div>
    <div class="example-button-row">
        <a md-mini-fab color=""><md-icon>add</md-icon></a>
        <a md-mini-fab color="primary"><md-icon>add</md-icon></a>
        <a md-mini-fab color="accent"><md-icon>add</md-icon></a>
        <a md-mini-fab color="warn"><md-icon>add</md-icon></a>
    </div>
</div>