<md-card>
    <md-card-content>
        <h2 class="example-h2">Basic Chips</h2>
        <div class="example-section">
            <md-chip-list>
                <md-chip *ngFor="let color of colors" [color]="color.color" selected="true">
                    {{color.name}}
                </md-chip>
            </md-chip-list>
        </div>
        <h2 class="example-h2">Stacked Chips</h2>
        <div class="example-section">
            <md-chip-list class="mat-chip-list-stacked">
                <md-chip *ngFor="let color of colors" [color]="color.color" selected="true">
                    {{color.name}}
                </md-chip>
            </md-chip-list>
        </div>
    </md-card-content>
</md-card>