<md-card class="example-content">
    <md-tab-group>
        <md-tab>
        <ng-template md-tab-label>
            <md-icon class="tab-icon">flight</md-icon> Flight
        </ng-template>
        <md-toolbar color="accent">Flight</md-toolbar>
        <p>
            Flight detail information would appear in this tab.
        </p>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon class="tab-icon">directions_car</md-icon> Rental Car
            </ng-template>
            <md-toolbar color="accent">Rental Car</md-toolbar>
            <p>
                Rental car detail information would appear in this tab.
            </p>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon class="tab-icon">hotel</md-icon> Hotel Reservation
            </ng-template>
            <md-toolbar color="accent">Hotel Reservation</md-toolbar>
            <p>
                HOtel reservation detail information would appear in this tab.
            </p>
        </md-tab>
    </md-tab-group>
</md-card>